@import './base.css';

#app {
  min-height: 100vh;
}

* {
  transition:
    background-color 0.35s ease,
    color 0.35s ease,
    border-color 0.35s ease,
    box-shadow 0.35s ease;
}

a {
  text-decoration: none;
}
